.logo {
  width: 100%;
}

.logoImage {
  display: block;
  width: 100%;
  height: auto;
  user-select: none;
  -webkit-user-drag: none;
}

.logoCollapsed {
  display: flex;
  justify-content: center;

  .logoImage {
    width: 2.75rem;
    height: auto;
  }
}
