@use "../styles/variables" as *;

.panel {
  flex-shrink: 0;
  height: 100%;
  line-height: 0;
}

.image {
  display: block;
  height: 100%;
  width: auto;
  max-width: none;
}

@media (max-width: 900px) {
  .panel {
    display: none;
  }
}
