.logoImageHeader {
  display: block;
  width: auto;
  height: 6.75rem;
  max-width: 100%;
}

.logoImageFooter {
  display: block;
  width: auto;
  height: 52px;
  max-width: 100%;
}

@media (max-width: 480px) {
  .logoImageHeader {
    height: 4.5rem;
  }
}
